<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Project list page</title>
</h:head>

<h:body>
    <ui:include src="/WEB-INF/views/templates/menu.xhtml" >
        <ui:param name="active" value="1" />
    </ui:include>
    <h:form id="projectList">
        <p:growl id="msgs" showDetail="true"/>
        <p:dataTable id="dataTable" var="projectVar" editable="true" paginator="true" rows="20"  value="#{project.projects}">
            <f:facet name="header">
                Projects list
            </f:facet>

            <p:ajax event="rowEdit" listener="#{project.onRowEdit}" update=":projectList:msgs" />
            <p:ajax event="rowEditCancel" listener="#{project.onRowCancel}" update=":projectList:msgs" />

            <h:inputHidden id="id" value="projectVar.id"/>

            <p:column sortBy="#{projectVar.name}" headerText="Name">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{projectVar.name}" /></f:facet>
                    <f:facet name="input"><p:inputText value="#{projectVar.name}" style="width:100%"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{projectVar.description}" headerText="Description">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{projectVar.description}" /></f:facet>
                    <f:facet name="input"><p:inputText value="#{projectVar.description}" style="width:100%"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{projectVar.startDate}" headerText="Start Date">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{menu.dateFormat(projectVar.startDate)}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar value="#{projectVar.startDate}" pattern="MM/dd/yyyy HH:mm:ss"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{projectVar.endDate}" headerText="End Date">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{menu.dateFormat(projectVar.endDate)}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar value="#{projectVar.endDate}" pattern="MM/dd/yyyy HH:mm:ss"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{projectVar.createDate}" headerText="Create Date">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{menu.dateFormat(projectVar.createDate)}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar value="#{projectVar.createDate}" pattern="MM/dd/yyyy HH:mm:ss"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{projectVar.status}" headerText="Status">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{projectVar.status}" />
                    </f:facet>
                    <f:facet name="input">
                        <h:selectOneMenu value="#{projectVar.status}" style="width:100%">
                            <f:selectItems value="#{project.statuses}" var="status"
                                           itemLabel="#{status.name}" itemValue="#{status}" />
                        </h:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column style="width:35px">
                <p:rowEditor />
            </p:column>

            <p:column headerText="Delete" style="text-align: center">
                <p:commandButton icon="fa fa-fw fa-remove" id="deleteProject" value="Delete" action="#{project.deleteProject(projectVar)}" update="projectList"/>
            </p:column>
        </p:dataTable>
    </h:form>
    <p:commandButton icon="fa fa-plus" value="Add" action="#{project.goToAdd}" />
</h:body>
</html>
