<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Login</title>
</h:head>

<h:body>
    <h:form id="loginForm" prependId="false">
        <p:panel header="Please login" style="width: 500px;">
            <p:messages/>
            <p:outputLabel value="Login failed!" styleClass="red" rendered="${!empty param['error']}" />
            <h:panelGrid columns="2">
                <p:outputLabel value="Login:"/>
                <p:inputText id="username" placeholder="Login" />
                <p:outputLabel value="Password:"/>
                <p:password id="password" placeholder="Password" />
                <input type="hidden" name="remember-me" value="true"/>
                <p:outputLabel value=""/>
                <p:commandButton value="Login" ajax="false" />
                <p:linkButton outcome="registration" value="Registration" />
            </h:panelGrid>
        </p:panel>
    </h:form>
</h:body>
</html>