<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Registration Page</title>
</h:head>
<h:body>
    <h:form id="registerForm">
        <p:panel header="Registration" style="width: 500px;">
            <p:messages/>
            <h:panelGrid columns="2">
                <p:outputLabel value="Login:"/>
                <p:inputText id="login" value="#{registration.login}" label="Login"
                             placeholder="Login" />

                <p:outputLabel value="Password:"/>
                <p:password id="password" value="#{registration.password}" label="Password"
                            placeholder="Password"/>

                <p:outputLabel value="PasswordConfirm:"/>
                <p:password id="passwordConfirm" value="#{registration.passwordConfirm}" label="PasswordConfirm"
                            placeholder="PasswordConfirm" />
                <p:outputLabel value=""/>
                <p:commandButton action="#{registration.registration()}" value="Register" update="registerForm" />
            </h:panelGrid>
        </p:panel>
    </h:form>
</h:body>
</html>
