<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
    <ui:include src="/WEB-INF/views/templates/menu.xhtml" >
        <ui:param name="active" value="2" />
    </ui:include>
    <h:form id="addTaskForm">
        <p:panel header="Add Task" style="width: 580px;">
            <p:messages/>
            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="name" value="Name:"/>
                <p:inputText id="name" value="#{task.name}" label="Name"
                             placeholder="Name" />

                <p:outputLabel for="description" value="Description:"/>
                <p:inputText id="description" value="#{task.description}" label="Description"
                             placeholder="Description" />

                <p:outputLabel for="startDate" value="Start Date:"/>
                <p:calendar id="startDate" value="#{task.startDate}" pattern="MM/dd/yyyy HH:mm:ss"/>

                <p:outputLabel for="endDate" value="End Date:"/>
                <p:calendar id="endDate" value="#{task.endDate}" pattern="MM/dd/yyyy HH:mm:ss"/>

                <p:outputLabel for="projectName" value="Project Name:"/>
                <p:selectOneMenu id="projectName" value="#{task.projectId}" >
                    <f:selectItem itemLabel="--None--" itemValue="" />
                    <f:selectItems value="#{task.projects}" var="project"
                                   itemLabel="#{project.name}" itemValue="#{project.id}" />
                </p:selectOneMenu>

                <p:outputLabel value="Status:" />
                <p:selectOneRadio id="status" value="#{task.status}" unselectable="false">
                    <f:selectItems value="#{task.statuses}" var="status"
                                   itemLabel="#{status.name}" itemValue="#{status}" />
                </p:selectOneRadio>
                <p:outputLabel value="" />
                <p:commandButton value="Add" icon="fa fa-check" action="#{project.addProject()}" ajax="false"/>
            </h:panelGrid>
        </p:panel>
    </h:form>
</h:body>
</html>
