<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Task list page</title>
</h:head>

<h:body>
    <ui:include src="/WEB-INF/views/templates/menu.xhtml" >
        <ui:param name="active" value="2" />
    </ui:include>
    <h:form id="taskList">
        <p:growl id="msgs" showDetail="true"/>
        <p:dataTable id="dataTable" var="taskVar" editable="true" paginator="true" rows="20"  value="#{task.tasks}">
            <f:facet name="header">
                Tasks list
            </f:facet>

            <p:ajax event="rowEdit" listener="#{task.onRowEdit}" update=":taskList:msgs" />
            <p:ajax event="rowEditCancel" listener="#{task.onRowCancel}" update=":taskList:msgs" />

            <h:inputHidden id="id" value="taskVar.id"/>

            <p:column sortBy="#{taskVar.name}" headerText="Name">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{taskVar.name}" /></f:facet>
                    <f:facet name="input"><p:inputText value="#{taskVar.name}" style="width:100%"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{taskVar.description}" headerText="Description">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{taskVar.description}" /></f:facet>
                    <f:facet name="input"><p:inputText value="#{taskVar.description}" style="width:100%"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{taskVar.startDate}" headerText="Start Date">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{menu.dateFormat(taskVar.startDate)}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar value="#{taskVar.startDate}" pattern="MM/dd/yyyy HH:mm:ss"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{taskVar.endDate}" headerText="End Date">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{menu.dateFormat(taskVar.endDate)}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar value="#{taskVar.endDate}" pattern="MM/dd/yyyy HH:mm:ss"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{taskVar.createDate}" headerText="Create Date">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{menu.dateFormat(taskVar.createDate)}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar value="#{taskVar.createDate}" pattern="MM/dd/yyyy HH:mm:ss"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{taskVar.status}" headerText="Status">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{taskVar.status}" />
                    </f:facet>
                    <f:facet name="input">
                        <h:selectOneMenu value="#{taskVar.status}" style="width:100%">
                            <f:selectItems value="#{task.statuses}" var="status"
                                           itemLabel="#{status.name}" itemValue="#{status}" />
                        </h:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column sortBy="#{taskVar.projectName}" headerText="Project Name">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{taskVar.projectName}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:selectOneMenu value="#{taskVar.projectId}" style="width:100%">
                            <f:selectItem itemLabel="--None--" itemValue="" />
                            <f:selectItems value="#{task.projects}" var="project"
                                           itemLabel="#{project.name}" itemValue="#{project.id}" />
                        </p:selectOneMenu>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column style="width:35px">
                <p:rowEditor />
            </p:column>

            <p:column headerText="Delete" style="text-align: center">
                <p:commandButton icon="fa fa-fw fa-remove" id="deleteTask" value="Delete" action="#{task.deleteTask(taskVar)}" update="taskList"/>
            </p:column>
        </p:dataTable>
    </h:form>
    <p:commandButton icon="fa fa-plus" value="Add" action="#{task.goToAdd}" />
</h:body>
</html>
