<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <h:outputStylesheet library="css" name="styles.css"/>
    <p:tabMenu activeIndex="#{menu.getValue(active)}">
        <p:menuitem class="btn" outcome="home">
                <i class="fa fa-home"/>
                <span>Home</span>
        </p:menuitem>
        <p:menuitem class="btn" outcome="projectPage">
            <i class="fa fa-sitemap"/>
            <span>Project</span>
        </p:menuitem>
        <p:menuitem class="btn" outcome="taskPage">
            <i class="fa fa-tasks"/>
            <span>Task</span>
        </p:menuitem>
        <p:menuitem class="btn" url="/logout">
            <i class="fa fa-user"/>
            <span>Logout</span>
        </p:menuitem>
    </p:tabMenu>
</ui:composition>