<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Welcome!</title>
</h:head>
<h:body>
    <ui:include src="/WEB-INF/views/templates/menu.xhtml" >
        <ui:param name="active" value="0" />
    </ui:include>
    <h:outputText value="Welcome #{index.string}!"/>
</h:body>
</html>